@charset "utf-8";
/* CSS Document */

html {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
}
h1 {
	font-size: 48px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"; 
	color: #F06529;
	text-transform: uppercase
}

h2,h3,h4, a {
	color:#F06529;
	text-transform: uppercase;
}

a {
	text-decoration: none
}

body {
	background-image:url( http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/973/full/tileable-dark-wood-textures-6.jpg );
}

img{
	width: 200px;
	
}